<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a href="#project">Project details</a>
    </div>
  </div>
</div>
 <div class="container">
  <div class="row region" ng-controller="mapSearchCtrlr">
    <div class="col-xs-12 col-sm-9" ng-controller="mapPolyCtrlr">
      <div id="searchBoxParent"></div>
        <ui-gmap-google-map id="map"
           center="map.center"
           pan="map.pan"
           zoom="map.zoom"
           draggable="map.dragging"
           refresh="map.refresh"
           options="map.options"
           events="map.events"
           bounds="map.bounds"
           control="map.control">
            <ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" position="searchbox.position"></ui-gmap-search-box>
            <!--to add to a parent div-->
            <!--<ui-gmap-search-box options="searchbox.options" template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentdiv"></ui-gmap-search-box>-->
            <ui-gmap-markers idkey="map.idkey" models="map.markers" coords="'self'" icon="'icon'" click="'onClicked'"></ui-gmap-markers>
            <ui-gmap-window show="window.show" coords="window.coords" idkey="window.place_id" templateurl="window.templateurl" templateparameter="window.templateparameter" options="window.options" closeClick='window.closeClick()' ng-cloak>
            </ui-gmap-window>
            <ui-gmap-map-control template="draw.tpl.html" position="top-right" index="1" controller="mapWidgetCtrl"></ui-gmap-map-control>
            <ui-gmap-map-control template="clear.tpl.html" position="top-right" index="1" controller="mapWidgetCtrl"></ui-gmap-map-control>

            <ui-gmap-free-draw-polygons polygons="map.polys" draw="map.draw" ></ui-gmap-free-draw-polygons>
        </ui-gmap-google-map>
        <ul>
            <li ng-repeat="p in map.polys">{{p.getPath()}}</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <label>Start Date</label>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      <label>End Date</label>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" show-button-bar="false"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      <label>Custom Constraints</label>
      <br/>
      <input type="checkbox"/> Drop off must be within pick up geofence.
    </div>
  </div>
  
  <div class="row region">
    <div class="col-xs-12">
      <div class="alert alert-info">
        <p>Sort Type: {{ sortType }}</p>
        <p>Sort Reverse: {{ sortReverse }}</p>
        <p>Search Query: {{ searchFish }}</p>
      </div>

      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search date or location" ng-model="searchData">
          </div>      
        </div>
      </form>

      <table class="table table-bordered table-striped">

        <thead>
          <tr>
            <td>
              <a ng-click="sortType = 'stime'; sortReverse = !sortReverse">
                Pickup Time 
                <span ng-show="sortType == 'stime' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'stime' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a ng-click="sortType = 'slat'; sortReverse = !sortReverse">
              Pickup Lat
                <span ng-show="sortType == 'slat' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'slat' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a ng-click="sortType = 'slon'; sortReverse = !sortReverse">
              Pickup Lon 
                <span ng-show="sortType == 'slon' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'slon' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a ng-click="sortType = 'etime'; sortReverse = !sortReverse">
                Dropoff Time 
                <span ng-show="sortType == 'etime' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'etime' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a ng-click="sortType = 'elat'; sortReverse = !sortReverse">
              Dropoff Lat
                <span ng-show="sortType == 'elat' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'elat' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
            <td>
              <a ng-click="sortType = 'elon'; sortReverse = !sortReverse">
              Dropoff Lon 
                <span ng-show="sortType == 'elon' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'elon' && sortReverse" class="fa fa-caret-up"></span>
              </a>
            </td>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="trip in data | orderBy:sortType:sortReverse | filter:searchData">
            <td>{{ trip.stime }}</td>
            <td>{{ trip.slat }}</td>
            <td>{{ trip.slon }}</td>
            <td>{{ trip.etime }}</td>
            <td>{{ trip.elat }}</td>
            <td>{{ trip.elon }}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
{{data}}