<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <a href="#/">Home</a>
    </div>
  </div>
  <div class="row region">
    <div class="col-xs-12">
      Uber ATC full­stack developer <br/>
      homework <br/>
      Homework app challenge <br/>
      Thank you for your interest in joining the Advanced Technologies Center as a full­stack <br/>
      developer.  The following is a project that will provide a flavor of the work that you’ll be doing at <br/>
      ATC. Use this as an opportunity to show us your creativity, problem solving skills, and <br/>
      programming ability. <br/>
<br/>
      The goal​<br/>
      : To complete this stage of the interview, you will need to develop a web application.  <br/>
<br/>
      Your client​<br/>
      : Anyone at ATC who wishes to explore a particular city, or an arbitrary region of a <br/>
      city, with regard to trip volume, common pickups or dropoffs, common routes, high or low <br/>
      speeds, or other factors you can think of. The client should be able to select an arbitrary region <br/>
      within a given city and see one or more analyses. Assume that your clients are not coders, so <br/>
      design and build with that in mind.  <br/>
<br/>
      Preferred languages​<br/>
      : Python, Javascript <br/>
      Suggested frameworks​<br/>
      : Flask, Node, React.js, Angular.js, WebGL, d3.js (If you can create an <br/>
      amazing app in another language, feel free to do so but note that we mostly use Python and <br/>
      Javascript for web apps.) <br/>
<br/>
      Feature List <br/>
      ●<br/>
<br/>
      ●<br/>
<br/>
      (Required) <br/>
      ○ Show a map of relevant data <br/>
      ○ Be able to draw an arbitrary shape or geofence on the map, and be able to filter <br/>
      data that is ​<br/>
      fully­contained​<br/>
       (begins and ends) within the shape <br/>
      ○ Be able to answer where the top pickups are for a given shape <br/>
      ○ Be hosted on Heroku, EC2, or somewhere we can access it by visiting a URL. <br/>
      (Extra credit) <br/>
      ○ Create a heatmap showing trip density for any shape <br/>
      ○ Filters for time of day, or day/night <br/>
      ○ A page of interesting statistics about the current shape <br/>
      ○ Show popular routes <br/>
      ○ Show areas of high and low speeds <br/>
      ○ Any other features you think would be useful/interesting. <br/>
<br/>
       Sample Data <br/>
      Your sample data comes from New York Uber data collected by the City Taxi and Limousine <br/>
      Commission (TLC) and FOIL’ed by fivethirtyeight. It is available on ​<br/>
      Github​<br/>
      . Please use the April <br/>
      2014­­September 2014 data only. Because the data includes only pickup location, you should <br/>
      apply a transformation such that half the trips become dropoff locations for the other half of the <br/>
      trips. <br/>
<br/>
      For example, you could take rows 1, 3, 5, and assign their pickup locations as drop­off locations <br/>
      for rows 2, 4, 6. In this way you should end up with half of the original data (i.e., once a row’s <br/>
      pickup location becomes the drop­off location for another row, don’t continue to use it as a <br/>
      pickup instance). <br/>
<br/>
      Your final data set should have these columns: <br/>
      ● Date/Time <br/>
      ● Lat <br/>
      ● Lon <br/>
      ● DropoffLat (taken from another row’s ‘Lat’) <br/>
      ● DropoffLon (taken from another row’s ‘Lon’) <br/>
      ● Base (you can ignore this column) <br/>
<br/>
      What we are looking for <br/>
      ●<br/>
      ●<br/>
      ●<br/>
      ●<br/>
      ●<br/>
      ●<br/>
      ●<br/>
<br/>
      Clean, modular, well­documented code <br/>
      Good back end and front end skills <br/>
      The app should be quick and responsive <br/>
      The app should have an intuitive UI <br/>
      The app should be easily extensible to support new views and features <br/>
      Include a discussion of design decisions and tradeoffs <br/>
      Include next steps and what you would do if given more time and resources. <br/>
<br/>
      Submitting and deadline <br/>
      Deliverables: <br/>
      ● A link to your hosted web app <br/>
      ● A tarball, zip file, or a Github link containing your code <br/>
      ● A README file detailing how to run your code, your approach, design decisions, and <br/>
      discussion about what you would do if you had more time. <br/>
<br/>
      The assignment is intended to take no more than eight to ten hours.<br/>
    </div>
  </div>
</div>